.footer {
  color: $text-color;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .footer-left {
    .footer-link {
      text-decoration: none;
      color: #fff;
      margin-left: 2rem;
    }
  }
  .footer-center {
    flex: 1;
    display: block;
    margin: 0 auto;
    text-align: center;

    .footer-icon {
      margin-left: 1rem;
      margin-right: 1rem;
      height: 2rem;
      width: 2rem;
    }

  }
  .footer-right {
    margin-right: 2rem;
  }
}
