
$icon-color: #fff;
$text-color: #fff;

$background-color:rgb(109, 121, 147);
$box-color:rgba(127, 140, 165,0.3);

$scrollbar-color: rgb(92, 107, 141);
$scrollbar-background-color: rgb(128, 141, 172);