@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import './spinner.scss';
@import './d3.scss';

html,
body {
  font-family: 'Quicksand';
}

.is-invisible {
  visibility: hidden;
}

.subtitle {
  border-bottom: 1px solid black;
}

.section {
  padding: 3rem 1.5rem;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  ul {
    display: block !important;
  }
}

// BULMA - Change defaul variables here
$link: darkgrey;
$link-hover: black;
$pagination-current-color: white;
$pagination-border-color: darkgrey;
$pagination-current-border-color: darkgrey;
@import '~bulma/bulma';

.in-middle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
