@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import '~bulma/bulma';
@import './spinner.scss';
@import './d3.scss';

html, body {
  font-family: 'Quicksand';
}

.is-invisible {
  visibility: hidden;
}

.subtitle {
  border-bottom: 1px solid black;
}