.box, .half, .oneThird, .twoThirds, .quarter, .whole {
  box-sizing: border-box;
  border-radius: 1.5rem;
  border: 3rem solid transparent;
}

.half, .oneThird, .twoThirds, .quarter, .whole {
  width: 100%;
  justify-content: space-between;
}

/* Large screens */
@media all and (min-width: 1200px) {
  .whole {
    width: 100%;
    justify-content: space-between;
  }
  .half {
    width: 50%;
    justify-content: space-between;
  }
  .oneThird {
    width: 33%;
    justify-content: space-between;
  }
  .twoThirds {
    width: 67%;
    justify-content: space-between;
  }
  .quarter {
    width: 25%;
    justify-content: space-between;
  }

}
