.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box, .half, .one-third, .two-thirds, .quarter, .whole {
  border-radius: 0.5rem;
  border: 1rem solid transparent;
  box-sizing: border-box;
}

.half, .one-third, .two-thirds, .quarter, .whole {
  width: 100%;
  justify-content: space-between;
}

/* Large screens */
@media all and (min-width: 1200px) {
  .whole {
    width: 100%;
    justify-content: space-between;
  }
  .half {
    width: 50%;
    justify-content: space-between;
  }
  .one-third {
    width: 33%;
    justify-content: space-between;
  }
  .two-thirds {
    width: 67%;
    justify-content: space-between;
  }
  .quarter {
    width: 25%;
    justify-content: space-between;
  }

}
