.page-wrapper {
  display: flex;
  flex-flow: column;
  background: $background-color;
  min-height: 100vh;
  margin-top: 5rem;

    border-radius: 1.5rem;
    border: 3rem solid transparent;
    box-sizing: border-box;
  }
}

.hide {
  display: none;
}

.content {
  flex: 1;
  overflow-y: scroll;
  height: 90vh;

  > div {
    display: flex;
    flex-flow: column;
  }
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
