

// $background-color: #17412D;
// $box-color:#284D3B;

.page-wrapper {
  display: flex;
  flex-flow: column;
  background: $background-color;
  min-height: 100vh;
}

.header {
  background: $background-color;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.main {
  display:flex;
  margin-top: 4.5rem;
}

.sidebar {
  min-width: 12rem;
  width: 15%;

  > div {
    height: 100%;
    min-width: 12rem;
    width: 15%;
    position: fixed;
  }
}

.hide {
  display: none;
}

.content {
  flex: 1;
  overflow-y: scroll;
  height: 90vh;

  > div {
    display: flex;
    flex-flow: column;
  }
}

.content::-webkit-scrollbar {
  width: 1.2em;
}

.content::-webkit-scrollbar-track-piece {
  background-color: $scrollbar-background-color;
}

.content::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
