.table {
  text-align: left;
  border-collapse:collapse;
  width: 100%;
  thead {
    tr {
      th {
        border-bottom: 1px solid white;
      }
    }
  }
  tbody {
    tr {
      td {
        a {
          color:lightgrey;
          font-weight: bold;
          text-decoration: 'none';
        }
      }
    }
  }
}